<!doctype html>
<html lang="en">
  <head>
    <script>
        // if (!navigator.userAgent.includes("YaBrowser") && !navigator.userAgent.includes("Yowser")) { document.location = "change-browser" }
    </script>
    <script src="/static/p5.js"></script>
    <script src="/static/p5.sound.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta charset="utf-8">
    <title>СС РФ</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="/static/bootstrap.min.js"></script>

  </head>
  <body>
    <div id="sketch-holder">
    </div>
    <div id="navbar-holder">
        <h1 class="cover-heading">Государственное министерство Сбора Статистики</h1>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" href="/">Домой</a>
          <a class="nav-link active" href="/users">Пользователи</a>
          {% if session and session.get('loggedin') %}
          <a class="nav-link" href="/lk">Личный кабинет</a>
          <a class="nav-link" href="/logout">Выйти</a>
          {% else %}
          <a class="nav-link" href="/login">Вход</a>
          <a class="nav-link" href="/register">Регистрация</a>
          {% endif %}
        </nav>
          {% if session and session.get('loggedin') %}
        <p class="lead">Добро пожаловать! Войдите в личный кабинет и начинайте работать</p>
          {% else %}
        <p class="lead">Зарегистрируйтесь в системе чтобы загружать отчеты</p>
          {% endif %}
    </div>

    <div id="content-holder">
        {% block content %}{% endblock %}
    </div>
    <script src="/static/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap.min.js"></script>

    <script src="/static/sketch.js"></script>
    </body>
</html>
