{% extends "base.html" %}

{% block content %}
<!--p class="lead">Добро пожаловать в Личный кабинет! Здесь вы можете просматривать свои отчеты и загружать новые</p--!>
<h3>Загрузить новый отчет</h3>
    <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
      <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value="Загрузить">
        <p>(Поддерживаются .zip архивы)</p>
        <p>{{ msg }}</p>
      </form>
      <form method=post action="/upload_url">
        <input type=text name=url placeholder='Адрес файла в сети "ИНТЕРНЕТ"' class="textbox">
        <input type=submit value="Загрузить из сети">
      </form>
    </div>
<br><br>
<h3>Ваши отчеты</h3>
<br>
<a href="/backup">СКАЧАТЬ ВСЕ</a>
<ul>
{% for report in reports %}
<li><a href={{report.path}}>{{report.name}}</a></li>
{% endfor %}
</ul>
{% endblock %}
