{% extends "base.html" %}
{% block content %}
<p class="lead">Регистрация</p>
<div align="center">
    <form action="{{ url_for('register') }}" method="post">
      <div class="msg">{{ msg }}</div>
        <input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox"/>
        <input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox"/></br>
        <input type="submit" class="btn" value="[Зарегистрироваться]"></br></br>
    </form>
</div>
{% endblock %}
