html, body {
  margin: 0;
  padding: 0;
  justify-content: center;
  font-size: 18px;
}

body {
  position: relative;
  text-align: center!important;
  background-color: #92A8D1!important; /* Цвет фона веб-страницы */
}

#sketch-holder,
#content-holder,
#navbar-holder {
  position: absolute;
}

#navbar-holder {
  right: 5vw;
  top: 10vh;
  width: 55vw;
}

#content-holder {
    right: 5vw;
    bottom: -85vh;
    width: 55vw;
    top: 60vh;
}

canvas {
  display: block;
}

.header{
	background-color: #236B8E; 
}

.border{
	border: 1px solid #236B8E;
	border-radius: 0px;
	background-color: #9AC0CD;
    font-size: 11px!important;
}

.btn {
	padding: 10px 40px;
	background-color: #236B8E; 
	color: #FFFFFF;
	font-style: oblique;
	font-weight: bold;
	border-radius: 10px;
}

.textbox{
	padding: 10px 40px;
	background-color: #236B8E; 
	text-color: #FFFFFF;
	border-radius: 10px;
}
	  
::placeholder {
	color: #FFFFFF;
	opacity: 1;
	font-style: oblique;
	font-weight: bold;
}

.word{
	color: #FFFFFF;
	font-style: oblique;
	font-weight: bold;
}

.bottom{
	color: #236B8E;
	font-style: oblique;
	font-weight: bold;
}
